<div class="d-flex flex-column justify-content-center p-5 m-5" "style: min-height: 200px;" >
    
    
    
        <!-- the post-->
    <div class="container-fluid p-0 m-0 attrdata" style="border: 4px solid #522921 " data-postid = {{post.dataValues.id}}>
        <section class="d-flex justify-content-between attrdata" style="border: 4px solid #522921" data-postid = {{post.dataValues.id}}>
            <!--this div is for the header of the posts-->

            

            <div class="container-fluid attrdata" style="background-color:#522921; color: white" data-postid = {{post.dataValues.id}}>
                <div class="row p-0 m-0 attrdata" data-postid = {{post.dataValues.id}}>
                    <div class="col p-0 m-0 attrdata" data-postid = {{post.dataValues.id}}>
                        <div class="d-flex justify-content-start attrdata" data-postid = {{post.dataValues.id}}>
                            <h3 class="attrdata" data-postid = {{post.dataValues.id}}>{{post.dataValues.title}}</h3>
                        </div>
                        
                    </div>

                    <div class="col p-0 m-0 attrdata" data-postid = {{post.dataValues.id}}>
                        <div class="d-flex justify-content-end p-0 m-0 attrdata" data-postid = {{post.dataValues.id}}>
                            <div class="d-inline-flex p-0 m-0 attrdata" data-postid = {{post.dataValues.id}}>
                               <p class="attrdata" data-postid = {{post.dataValues.id}} id="postBy">posted by: {{post.dataValues.member_username}}</p> 
                               <p class="attrdata" data-postDate= {{post.dataValues.date_created}}id="postDate"> on: {{post.dataValues.date_created}}</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

        </section>


        <main class= "mx-5 my-5 attrdata" data-postid = {{post.dataValues.id}} >{{post.dataValues.post_content}}</main>
        
    </div>
   
   <!-- long list of comments-->
    <section class="m-5" id="main">
        {{#each commentAll as |comment|}}
        {{> comment-all}}
        {{/each}}
    </section>
    
    <!-- add a comment-->
    <div class="container-fluid my-2 mx-0">
        <section class="d-flex flex-column justify-content-between" style="border: 4px solid #522921">
        <h3 style="background-color:#522921; color: white"></h3> <!-- nothing will be in the title -->
        <!--this div below is just for spacing only -->
        <div class="mx-4">
        <!--this div above is just for spacing only -->
        <form class="form login-form" id="update">

            <label>Comment:</label>
            <div class="form-group" id="comment" data-postid = {{post.dataValues.id}}>

                <textarea class = "container-fluid"rows="5" id="content"></textarea>
            </div>
        
            <button class="container-fluid p-2" style="background-color:#5E5B5A; color: white; border-radius: 15px;" type="submit">Comment</button>   
        
        </form>

        </div>
        </section>
    </div>
      
    
</div>
<script src="./js/comment.js"></script>